@tailwind base;
@tailwind components;
@tailwind utilities;
.lazy {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.lazy.loaded {
    opacity: 1;
}

.html {
    scroll-behavior: smooth;
}